

.bgImage{
    position: relative;
    box-sizing: border-box;
    height: 65%;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}