

.bgImage{
    margin: 0px;
    height: 70%;
    width: 100%;
}

.ProjectItem{
    padding: 0px;
    margin: 5% 0%;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    border: 1px gray solid;
    border-radius: 6px;
    box-shadow: 10px 10px 0px 0px rgb(144, 175, 182);
    
    
}

