
.projects{
    width: 100%;
    
    
    
}

.projectsList{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
    flex-wrap: wrap;
    
}


@media only screen and (max-width:820px ){
    .projectsList{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .projects{
        display: flex;
        align-items: center;
        flex-direction: column;
         
    }
}

